html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  display: inline-block;
  margin: auto;
  width: 50%;
  padding: 20px;
  background-color: lightgray;
}

label {
  font-weight: bold;
}

.search-stuff {
  padding: 20px;
  margin-left: 45px;
}

table {
  border: solid 3px lightslategray;
  padding: 15px;
  width: 75%;
  text-align: center;
  margin: auto;
  background-color: white;
}

th {
  font-size: 20px;
  padding: 5px;
}
