html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  border: solid 3px red;
  display: inline-block;
  margin: auto;
  width: 50%;
  padding: 20px;
}

label {
  font-weight: bold;
}

.search-stuff {
  border: solid 3px blue;
  padding: 15px;
}

table {
  border: solid 3px purple;
  padding: 15px;
  width: 75%;
  text-align: center;
  margin: auto;
}

th {
  font-size: 20px;
  padding: 5px;
}
