html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  border: solid 3px red;
  display: inline-block;
  margin: auto;
  margin-left: 300px;
  margin-top: 75px;
  width: 50%;
  padding: 20px;
}

table {
  align-content: center;
  margin-left: 175px;
  padding: 20px;
}
