@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 30px;
}

img {
  margin-bottom: 100px;
  border-radius: 50%;
}

#information {
  margin-top: 175px;
  margin-left: 40px;
  width: 48%;
  padding: 10px;
}

table {
  text-align: center;
  padding-right: 25px;
  margin: 10px;
  margin-bottom: -270px;
}

#prev,
#next {
  color: orangered;
  border: solid 2px darkgrey;
  background-color: lightgray;
  padding: 15px;
  border-radius: 10%;
}
